<div id="myheader">
		<img src="src/images/y18.gif"></img>
		<li class='topMenuLi'>
			<a id="logo" href="#">Hacker News</a>
		</li>
		<li class='topMenuLi'>
			<a href="#">new |</a>
		</li>
		<li class='topMenuLi'>
			<a href="#">comments |</a>
		</li>
		<li class='topMenuLi'>
			<a href="#">show |</a>
		</li>
		<li class='topMenuLi'>
			<a href="#">ask |</a>
		</li>
		<li class='topMenuLi'>
			<a href="#">jobs |</a>
		</li>
		<li class='topMenuLi'>
			<a href="#">submit |</a>
		</li>
		<li class='topMenuLi'>
			<a id="login" href="#">Login</a>
		</li>
</div>