<div id="myfooter">
	<div>
			<a class="footerTitle" href="#">
				Applications are open for YC Summer 2018
			</a>
		</div>
		<div>
			<nav>
				<ul>
					<li class="bottomMenuLi"><a href="#">Guidelines |</a></li>
					<li class="bottomMenuLi"><a href="#">FAQ |</a></li>
					<li class="bottomMenuLi"><a href="#">Support |</a></li>
					<li class="bottomMenuLi"><a href="#">API |</a></li>
					<li class="bottomMenuLi"><a href="#">Security |</a></li>
					<li class="bottomMenuLi"><a href="#">Lists |</a></li>
					<li class="bottomMenuLi"><a href="#">Bookmarklet |</a></li>
					<li class="bottomMenuLi"><a href="#">Legal |</a></li>
					<li class="bottomMenuLi"><a href="#">Apply to YC |</a></li>
					<li class="bottomMenuLi"><a href="#">Contact |</a></li>
				</ul>
			</nav>
		</div>
		<div>
			<form>
				<label>Search</label>
				<input type="text" name="searchbox"></input>
			</form>
		</div>
</div>